@import "tailwindcss";

/* Pagination wrapper */
.testimonial-swiper .swiper-pagination {
    position: static;
    margin-top: 36px;
    display: flex;
    justify-content: center;
}

/* Outer pill container */
.testimonial-swiper .swiper-pagination-bullets {
    background: rgba(0, 0, 0, 0.04);
    padding: 8px 14px;
    border-radius: 999px;
    display: flex;
    gap: 8px;
    width: 70px !important;
    height: auto;
    margin: 30px auto;
}

/* Default dot */
.testimonial-swiper .swiper-pagination-bullet {
    width: 15px !important;
    height: 10px;
    background: #fff;
    opacity: 1;
    margin: 0 !important;
}

/* Active dot */
.testimonial-swiper .swiper-pagination-bullet-active {
    background: #c0c4cc;
}